{% extends "layout.html" %}
{% block content %}
<div class="container">
<p>
	Tracks: {{ data.tracks|length }}<br>
	<a href="https://beta.developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/#audio-features-object">See here</a> for an explanation of what the columns mean.
</p>

<table id="analysis" class="table table-hover tablesorter">
	<thead><tr>
		<th>Song</th>
		<th>Artist</th>

		<th>Danceability</th>
		<th>Energy</th>
		<th>Speechiness</th>
		<th>Acousticness</th>
		<th>Instrumentalness</th>
		<th>Liveness</th>
		<th>Valence</th>

		<th>Key</th>
		<th>Mode</th>
		<th>Loudness (dB)</th>
		<th>Tempo (BPM)</th>
	</tr></thead>
	<tbody>
	{% for feature in data.audio_features %}
	<tr>
		<td><a href="{{ data.tracks[feature.id].track.external_urls.spotify }}">{{ data.tracks[feature.id].track.name }}</a></td>
		<td>{{ data.tracks[feature.id].track.artists[0].name }}</td>

		<td>{{ feature.danceability|round(3) }}</td>
		<td>{{ feature.energy|round(3) }}</td>
		<td>{{ feature.speechiness|round(3) }}</td>
		<td>{{ feature.acousticness|round(3) }}</td>
		<td>{{ feature.instrumentalness|round(3) }}</td>
		<td>{{ feature.liveness|round(3) }}</td>
		<td>{{ feature.valence|round(3) }}</td>

		<td>{{ ['C', 'C♯ / D♭', 'D', 'D♯ / E♭', 'E', 'F', 'F♯ / G♭', 'G', 'G♯ / A♭', 'A', 'A♯ / B♭', 'B'][feature.key] }}</td>
		<td>{{ ['Min', 'Maj'][feature.mode] }}</td>
		<td>{{ feature.loudness|round(3) }}</td>
		<td>{{ feature.tempo|round(1) }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{url_for('.static', filename='jquery.tablesorter.combined.min.js')}}"></script>
	<script src="{{url_for('.static', filename='analysis.js')}}"></script>
{% endblock %}